<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>Sydney Barlow's Profile Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <script src="/js/require.min.js"></script>
    <script>
      requirejs.config({
          baseUrl: '.'
      });
    </script>
    <!-- Dashboard Core -->
    <link href="/css/dashboard.css" rel="stylesheet" />
    <script src="/js/dashboard.js"></script>
    <!-- c3.js Charts Plugin -->
    <link href="/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="/plugins/charts-c3/plugin.js"></script>
    <!-- Google Maps Plugin -->
    <link href="/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script src="/plugins/maps-google/plugin.js"></script>
    <!-- Input Mask Plugin -->
    <script src="/plugins/input-mask/plugin.js"></script>
  </head>
  <body class="">
    <div class="page">
      <div class="page-main">
        <div class="my-3 my-md-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Front End Skills</h3>
                  </div>
                  <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <h5 class="form-input">Javascript</h5>
                            <h5 class="form-input">React.js</h5>
                            <h5 class="form-input">Redux</h5>
                            <h5 class="form-input">Bootstrap</h5>
                            <h5 class="form-input">Semantic UI</h5>
                            <h5 class="form-input">Tabler</h5>
                            <h5 class="form-input">HTML</h5>
                            <h5 class="form-input">CSS</h5>
                            <h5 class="form-input">Flourish</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Back End Skills</h3>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <h5 class="form-input">Ruby on Rails</h5>
                            <h5 class="form-input">SQL</h5>
                            <h5 class="form-input">Node.js</h5>
                            <h5 class="form-input">Express</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Other Skills</h3>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <h5 class="form-input">Adobe Photoshop</h5>
                            <h5 class="form-input">Adobe Illustrator</h5>
                            <h5 class="form-input">Adobe InDesign</h5>
                            <h5 class="form-input">Adobe After Effects</h5>
                            <h5 class="form-input">Adobe Premire Pro</h5>
                            <h5 class="form-input">Adobe Acrobat Pro</h5>
                            <h5 class="form-input">Spanish</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Education</h3>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <h5 class="form-input">FLATIRON SCHOOL - Washington, DC - 2018</h5>
                              <p>Full Stack Web Development, Ruby on Rails,
                              JavaScript, React and Redux in-person
                              program</p>
                            <h5 class="form-input">UTAH VALLEY UNIVERSITY - Orem, UT - 2015</h5>
                              <p>B.S. in Digital Media (Computer Information Technology)</p>
                              <small>FOCUS in WEB TECHNOLOGIES, DESIGN & FILM</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="col-lg-8">
                <div class="card card-profile">
                  <div class="card-header" style="background-image: url(demo/photos/DSC_4541.jpg);"></div>
                  <div class="card-body text-center">
                    <img class="card-profile-img" src="demo/faces/syd-pic.jpg">
                    <h3 class="mb-3">Sydney Barlow</h3>
                    <p class="mb-4">
                      Videographer & Graphic Designer turned Coder.
                    </p>
                    <ul class="social-links list-inline mb-0 mt-2">
                      <li class="list-inline-item">
                        <a href="https://github.com/sydneybarlow" title="Github" data-toggle="tooltip"><i class="fa fa-github"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://medium.com/@sydneybarlow44" title="Medium" data-toggle="tooltip"><i class="fa fa-medium"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/sydneybarlow/" title="LinkedIn" data-toggle="tooltip"><i class="fa fa-linkedin"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body text-center">
                    <p class="form-input" rows="5">Full-stack web developer with a passion for design and great UX/UI.
                      Experienced in Ruby on Rails, JavaScript, React and Redux. As a
                      graduate of the Flatiron Coding School, I bring strong skills in
                      debugging and modern design that help innovative companies
                      standout.</p>
                      <h3 class="form-label">Phone Number</h3>
                      <p class="form-input">(240) 383-5816</p>
                    <h3 class="form-label">Email Address</h3>
                    <p class="form-input">sydneybarlow44@gmail.com</p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Technical Projects</h3>
                  </div>
                  <ul class="list-group card-list-group">
                    <li class="list-group-item py-5">
                      <div class="media">
                        <div class="media-object avatar avatar-md mr-4" style="background-image: url(demo/photos/OregonTrailLogo.jpg)"></div>
                        <div class="media-body">
                          <div class="media-heading">
                            <h5>Oregon Trail</h5>
                          </div>
                          <ul class="media-list">
                            <li class="media mt-4">
                                A remake of the classic 80’s game; users adventure across the western plains, with humor involved.
                            </li>
                          </ul>
                          <ul>
                            <li>
                                Ruby and Rails backend, with a React/Bootstrap front-end
                            </li>
                          </ul>
                            <div class="float-right">
                              <ul class="list-inline mb-0 mt-2">
                                <li class="list-inline-item">
                                  <button class="btn btn-outline-primary"><a href="https://github.com/sydneybarlow/oregontrail_backend"><i class="fa fa-youtube"></i> Demo Video</a></button>
                                </li>
                                <li class="list-inline-item">
                                  <button class="btn btn-outline-primary"><a href="https://github.com/sydneybarlow/oregontrail_frontend"><i class="fa fa-github"></i> Front End Code</a></button>
                                </li>
                                <li class="list-inline-item">
                                  <button class="btn btn-outline-primary"><a href="https://github.com/sydneybarlow/oregontrail_backend"><i class="fa fa-github"></i> Back End Code</a></button>
                                </li>
                              </ul>
                            </div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item py-5">
                        <div class="media">
                          <div class="media-object avatar avatar-md mr-4" style="background-image: url(demo/photos/eSBayLogo.jpg)"></div>
                          <div class="media-body">
                            <div class="media-heading">
                              <h5>eSBay</h5>
                            </div>
                            <ul class="media-list">
                              <li class="media mt-4">
                                <div class="media-body">
                                  A bartering platform engaging users to sell and purchase second-hand or pre-owned items.
                                </div>
                              </li>
                            </ul>
                            <ul>
                              <li>
                                  Ruby and Rails backend, with a React/Semantic UI front-end
                              </li>
                              <div class="float-right">
                                <ul class="list-inline mb-0 mt-2">
                                  <li class="list-inline-item">
                                    <button class="btn btn-outline-primary"><a href="https://github.com/sydneybarlow/oregontrail_backend"><i class="fa fa-youtube"></i> Demo Video</a></button>
                                  </li>
                                  <li class="list-inline-item">
                                    <button class="btn btn-outline-primary"><a href="https://github.com/sydneybarlow/eSBay_frontend"><i class="fa fa-github"></i> Front End Code</a></button>
                                  </li>
                                  <li class="list-inline-item">
                                    <button class="btn btn-outline-primary"><a href="https://github.com/sydneybarlow/eSBay_backend"><i class="fa fa-github"></i> Back End Code</a></button>
                                  </li>
                                </ul>
                              </div>
                            </ul>
                          </div>
                        </div>
                    </li>
                    <li class="list-group-item py-5">
                      <div class="media">
                        <div class="media-object avatar avatar-md mr-4" style="background-image: url(demo/photos/FilmFestLogo.jpg)"></div>
                        <div class="media-body">
                          <div class="media-heading">
                            <h5>FilmFest</h5>
                          </div>
                          <ul class="media-list">
                            <li class="media mt-4">
                              <div class="media-body">
                                Designed for Independent Film Festival circuits; users submit films and select tickets for viewing times.
                              </div>
                            </li>
                          </ul>
                          <ul>
                            <li>
                              Ruby and Rails backend, with a OOJS/Semantic UI front-end
                            </li>
                          </ul>
                          <div class="float-right">
                            <ul class="list-inline mb-0 mt-2">
                              <li class="list-inline-item">
                                <button class="btn btn-outline-primary"><a href="https://github.com/sydneybarlow/oregontrail_backend"><i class="fa fa-youtube"></i> Demo Video</a></button>
                              </li>
                              <li class="list-inline-item">
                                <button class="btn btn-outline-primary"><a href="https://github.com/sydneybarlow/filmfest_frontend"><i class="fa fa-github"></i> Front End Code</a></button>
                              </li>
                              <li class="list-inline-item">
                                <button class="btn btn-outline-primary"><a href="https://github.com/sydneybarlow/filmfest_backend"><i class="fa fa-github"></i> Back End Code</a></button>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Work Experience</h3>
                  </div>
                  <ul class="list-group card-list-group">
                    <li class="list-group-item py-5">
                      <div class="media">
                        <div class="media-body">
                          <div class="media-heading">
                            <h5>Web Developer</h5>
                          </div>
                        </div>
                      </div>
                        <ul class="list-group">
                          <li class="list-group-item">
                            <div class="media">
                            <div class="media-object avatar avatar-md mr-4" style="background-image: url(demo/photos/turbo360_logo.jpg)"></div>
                              <div class="media-body" id="turbo">
                                <ul class="media-list">
                                  <div class="media-heading">
                                    <small class="float-right text-muted">Aug 2018 - Present</small>
                                    Turbo 360˚
                                  </div>
                                </ul>
                                <ul>
                                  <li class="media">
                                    Currently coding front-end design elements for the Turbo 360˚ website.
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </li>
                          <li class="list-group-item">
                            <div class="media">
                              <div class="media-object avatar avatar-md mr-4" style="background-image: url(demo/photos/cps_logo.png)"></div>
                              <div class="media-body" id="cps">
                                <ul class="media-list">
                                  <div class="media-heading">
                                    <small class="float-right text-muted">Aug 2018 - Present</small>
                                    Chesapeake Plastic Surgery
                                  </div>
                                </ul>
                                <ul>
                                  <li class="media">
                                    Designed the front-end of the Chesapeake Plastic Surgery website.
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                    </li>
                    <li class="list-group-item py-5">
                      <div class="media">
                        <div class="media-body">
                          <div class="media-heading">
                            <h5>Videographer & Editor</h5>
                          </div>
                        </div>
                      </div>
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div class="media">
                            <div class="media-object avatar avatar-md mr-4" style="background-image: url(demo/photos/ywp_logo.png)"></div>
                            <div class="media-body" id="ywp">
                              <ul class="media-list">
                                <li>
                                  <small class="float-right text-muted">Oct 2018 - Aug 2018</small>
                                  Yellowhale Photography
                                </li>
                              </ul>
                              <ul>
                                <li class="media">
                                  Edited and produced short videos that promoted the small businesses of Yellowhale clientele.
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        <li class="list-group-item">
                          <div class="media">
                            <div class="media-object avatar avatar-md mr-4" style="background-image: url(demo/photos/sfn_logo.jpg)"></div>
                            <div class="media-body" id="sfn">
                              <ul class="media-list">
                                <li>
                                  <small class="float-right text-muted">Dec 2017 - Feb 2018</small>
                                  Society of Neuroscience
                                </li>
                              </ul>
                              <ul>
                                <li class="media">
                                  Edited several videos promoting future events and highlighting lectures from prominent scientists in the field of neuroscience.
                                </li>
                                <li class="text-muted">Found through The Creative Group</li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                    <li class="list-group-item py-5">
                      <div class="media">
                        <div class="media-body">
                          <div class="media-heading">
                            <h5>Digital Specialist & Video Producer</h5>
                          </div>
                        </div>
                      </div>
                      <ul class="list-group">
                        <li class="list-group-item">
                          <div class="media">
                            <div class="media-object avatar avatar-md mr-4" style="background-image: url(demo/photos/nolabels_logo.jpg)"></div>
                            <div class="media-body" id="nolabels">
                              <ul class="media-list">
                                <li>
                                  <small class="float-right text-muted">Mar 2016 - Jun 2017</small>
                                  No Labels
                                </li>
                              </ul>
                              <ul>
                                <li class="media">
                                  Planned, created and captured all graphics, videos and photography used for all social media channels, such as Facebook, Instagram, Twitter, LinkedIn, Pinterest and their website, www.nolabels.org.
                                </li>
                              </ul>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
